.menu__entries, .menu__dishes, .menu__desserts{
	animation: appear 0.5s;
    animation-fill-mode: both;
}

@keyframes appear{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

.delay1{
    animation-delay: 0.1s;
}

.delay2{
    animation-delay: 0.3s;
}

.delay3{
    animation-delay: 0.6s;
}

.lds-dual-ring{
    display: inline-block;
    width: 100px;
    height: 100px;
  }
  
.lds-dual-ring:after{
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid $color-primary;
    border-color: $color-primary transparent $color-primary transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  
@keyframes lds-dual-ring{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  
.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.80);
    animation: loader 0.01s;
    animation-delay: 2s;
    z-index: 20000;
    animation-fill-mode: both;
}
  
@keyframes loader {
    100% {
      opacity: 0;
      z-index: -10;
    }
}