body, html {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.menu h3 {
  font-family: "Shrikhand", "cursive";
  font-size: 1.8em;
}

button:hover {
  filter: brightness(125%);
}

.banner {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
}
.banner__logo {
  font-family: "Shrikhand", "cursive";
  margin: 0;
  text-align: center;
}

.position {
  display: flex;
  justify-content: center;
  padding: 1.25rem 1rem;
  background-color: #f3f3f3;
  font-size: 1.2rem;
  position: relative;
  box-shadow: inset 0rem 0.5rem 0.5rem 0rem rgba(0, 0, 0, 0.15);
}
.position__text {
  font-weight: 700;
}
.position__icon {
  margin-right: 1rem;
}

.discover {
  padding: 2rem;
  text-align: center;
  background-color: #fafafa;
}
.discover__title {
  margin: 0;
  font-size: 30px;
  margin-bottom: 1rem;
}
.discover__text {
  font-weight: 300;
  margin: 1.5rem 0;
}
.discover__button {
  margin-top: 20px;
  border: 0;
  line-height: 2.5;
  padding: 5px 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  border-radius: 30px;
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
}

.container {
  max-width: 1280px;
  margin: auto;
  position: relative;
}

.working {
  padding: 3rem;
}
.working__title {
  margin-top: 0;
}
.working__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}
@media (max-width: 800px) {
  .working__list {
    display: flex;
    flex-direction: column;
  }
}
.working__tuto {
  padding: 1.5rem;
  margin: 1rem 0 1rem 0.75rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  position: relative;
}
@media (min-width: 800.1px) {
  .working__tuto {
    width: 33%;
  }
}
.working__tuto:hover {
  background-color: #F4EDFE;
}
.working__tuto:hover .working__icon {
  color: #8B59D5;
}
.working__dot {
  background: #e3e3e3;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  display: inline-block;
  line-height: 20px;
  margin-right: 5px;
  text-align: center;
  width: 20px;
  position: relative;
  right: 30px;
  font-size: 12px;
}
.working__icon {
  margin-right: 1rem;
  color: #7e7e7e;
}

.restaurant {
  background-color: #f6f6f6;
  padding-bottom: 30px;
}
.restaurant a {
  color: black;
  text-decoration: none;
}
.restaurant__title {
  padding-top: 40px;
}
.restaurant__card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 26px 58px -22px rgba(0, 0, 0, 0.48);
  margin: 10px;
  overflow: hidden;
  position: relative;
}
.restaurant__card img {
  height: 150px;
  object-fit: cover;
  width: 100%;
}
.restaurant__card__content {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}
.restaurant__card__description {
  flex: 1;
  margin: 5px 0px 5px 20px;
  width: 150px;
}
.restaurant__card__description h4 {
  margin: 0;
}
.restaurant__card__name {
  font-weight: bold;
}
.restaurant__card__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 1rem;
  background: white;
}
.restaurant__card__icon.fill {
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurant__card__icon.empty {
  transition-duration: 0.3s;
}
.restaurant__card__icon.empty:hover {
  opacity: 0%;
}
.restaurant__card__new {
  background: #99E2D0;
  position: absolute;
  color: #3B8568;
  top: 1rem;
  right: 0.75rem;
  padding: 0.35rem;
}

.restaurant__cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 1000px) {
  .restaurant__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
.footer {
  background-color: #353535;
  position: relative;
  top: 30px;
}
.footer .container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.footer__logo {
  color: white;
  font-family: "Shrikhand", "cursive";
  margin: 0;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-decoration: none;
}
.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__listLink {
  margin: 0.5rem;
}
.footer__listLink a {
  color: white;
}
.footer__link {
  color: white;
  text-decoration: none;
}
.footer__icon {
  width: 1.2rem;
  margin-right: 0.5rem;
  color: white;
}

.banner_image img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.banner__icon {
  float: left;
  margin: 1rem 1rem 0 1rem;
  color: black;
}
.banner__icon a {
  text-decoration: none;
}

.footer.menu {
  margin-top: -100px;
}

.menu__container {
  max-width: 1280px;
  margin: auto;
  position: relative;
  background-color: #f6f6f6;
  top: -100px;
  border-radius: 30px 30px 0px 0px;
  padding-left: 1rem;
  padding-right: 1rem;
}
.menu__title {
  padding-top: 2rem;
}
.menu__title__icon {
  float: right;
  margin-top: -55px;
}
.menu__button {
  text-align: center;
  padding-bottom: 3rem;
}
.menu__card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 26px 58px -22px rgba(0, 0, 0, 0.48);
  padding: 10px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 1rem;
  overflow: hidden;
  animation: appear 0.5s;
}
.menu__card__container {
  padding-bottom: 1rem;
}
.menu__card__container h4 {
  font-weight: 200;
  border-bottom: 2.5px solid #99E2D0;
  width: 40px;
  padding-bottom: 0.2rem;
}
.menu__card__content {
  flex: 1;
  margin-left: 0.5rem;
}
.menu__card__content h5 {
  margin: 0;
  font-size: 16px;
}
.menu__card__description {
  font-size: 12px;
}
.menu__card__price {
  font-weight: bold;
}
.menu__card__checkContainer {
  background-color: #99E2D0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
  height: 4rem;
}
.menu__card__check {
  height: 1.6rem;
  width: 1.6rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}
.menu__card__checkIcon {
  color: #99E2D0;
}
.menu__card:hover .menu__card__checkContainer {
  margin-right: -1rem;
}
.menu__card:hover .menu__card__check {
  transform: rotate(0);
}
.menu .restaurant__card__icon.empty.menu {
  background: #f6f6f6;
}

.menu__entries, .menu__dishes, .menu__desserts {
  animation: appear 0.5s;
  animation-fill-mode: both;
}

@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.delay1 {
  animation-delay: 0.1s;
}

.delay2 {
  animation-delay: 0.3s;
}

.delay3 {
  animation-delay: 0.6s;
}

.lds-dual-ring {
  display: inline-block;
  width: 100px;
  height: 100px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #9356DC;
  border-color: #9356DC transparent #9356DC transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  animation: loader 0.01s;
  animation-delay: 2s;
  z-index: 20000;
  animation-fill-mode: both;
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

/*# sourceMappingURL=style.css.map */
